<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.AppliedCompanyMapper">

	<select id="selectAll" resultType="AppliedCompanyList">
		SELECT * FROM appliedcompany
		join status on appliedcompany.statusid = status.id
	</select>

	<insert id="add" parameterType="AppliedCompanyList">
		insert into appliedcompany
		(name,
		statusid, established, president, detail, salaly, working_time,
		working_time2, url, applied)
		values
		(#{name}, #{statusid},
		#{established}, #{president}, #{detail}, #{salaly},
		#{workingTime},
		#{workingTime2}, #{url}, #{applied})
	</insert>

	<select id="selectById">
		SELECT * FROM appliedcompany
		join status on
		appliedcompany.statusid = status.id where appliedcompany.id = #{id};
	</select>

	<delete id="deleteById" parameterType="AppliedCompanyList">
		DELETE FROM
		`syuukatu_db`.`appliedcompany`
		WHERE id = #{id};
	</delete>

	<update id="update" parameterType="AppliedCompanyList">
		UPDATE appliedcompany SET
		name
		= #{name},
		statusid = #{statusid},
		established = #{established},
		president = #{president},
		detail = #{detail},
		salaly = #{salaly},
		working_time = #{workingTime},
		working_time2 = #{workingTime2},
		applied
		= #{applied},
		url = #{url}
		WHERE id = #{id};
	</update>

	<update id="updateStatusById">
		UPDATE appliedcompany
		SET statusid = #{statusId}
		WHERE
		id = #{id};
	</update>

</mapper>