<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ToDoMapper">

	<select id="selectAll" resultType="Todo">
		select * from task
	</select>

	<insert id="add" parameterType="Todo">
		insert into task
		(task_name, executed, created_at, updated_at)
		values
		(#{task_name}, #{executed}, #{created_at}, #{updated_at})
	</insert>

	<select id="selectById" resultType="Todo">
		SELECT *
		FROM task
		WHERE id =
		#{id};
	</select>

	<delete id="deleteById" parameterType="Integer">
		DELETE FROM
		`task_name`.`executed`.`created_at`.`updated_at`
		WHERE id = #{id};
	</delete>

	<update id="update" parameterType="Todo">
		UPDATE task SET
		task_name = #{task_name},
		executed = #{executed},
		created_at = #{created_at},
		updated_at = #{updated_at},
		WHERE id = #{id};
	</update>

</mapper>
