/* 共通スタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* ヘッダー */
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

/* メインコンテンツ */
main {
    padding: 20px;
}

.company-item {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.company-item h2 {
    margin: 0;
    font-size: 20px;
}

.process, .todo {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* フッター */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(192, 192, 192);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
