<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/tuika.css">

<head>
	<meta charset="UTF-8">
	<title>応募済み企業新規追加ページ</title>
</head>

<body>
	<h1>応募企業新規追加</h1>
	<form action="" method="post" th:object="${appliedCompanyList}">
		<p th:errors="*{name}" class="error-message"></p>
		<p>
			<label for="name">企業名：</label>
			<input type="text" id="name" th:field="*{name}">
		</p>

		<p th:errors="*{established}" class="error-message"></p>
		<p>
			<label for="established">創立年：</label>
			<input type="date" id="established" th:field="*{established}">
		</p>

		<p th:errors="*{president}" class="error-message"></p>
		<p>
			<label for="president">社長：</label>
			<input type="text" id="president" th:field="*{president}">
		</p>

		<p th:errors="*{detail}" class="error-message"></p>
		<p>
			<label for="detail">詳細説明メモ：</label>
			<input type="text" id="detail" th:field="*{detail}">
		</p>

		<p th:errors="*{salaly}" class="error-message"></p>
		<p>
			<label for="salaly">給料：(月給)</label>
			<input type="number" id="salaly" th:field="*{salaly}">
		</p>

		<p th:errors="*{workingTime}" class="error-message"></p>
		<p>
			<label for="workingTime">労働時間：</label>
			<input type="time" id="workingTime" th:field="*{workingTime}">
		</p>

		<p th:errors="*{applied}" class="error-message"></p>
		<p>
			<label for="applied">どこから応募：</label>
			<input type="text" id="applied" th:field="*{applied}">
		</p>

		<input type="submit" value="追加">

		<p><a href="/top">戻る</a></p>
	</form>
</body>

</html>