<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/tuika.css">

<head>
	<meta charset="UTF-8">
	<title>応募済み企業新規追加ページ</title>
</head>

<body>
	<h1>応募企業新規追加</h1>
	<form action="" method="post" th:object="${appliedCompanyList}">

		<p th:errors="*{statusid}" class="error-message"></p>
		<p>
			<!--プルダウンメニュー-->
			<label for="statusid">応募ステータス：</label>
			<select id="statusid" th:field="*{statusid}" onchange="updateStatusText(this.value)">
				<option value="">選択してください</option>
				<option value="1">選考準備中</option>
				<option value="2">書類選考中</option>
				<option value="3">書類選考通過</option>
				<option value="4">一次面接通過</option>
				<option value="5">二次面接通過</option>
				<option value="6">一次面接日程調整中</option>
				<option value="7">二次面接日程調整中</option>
				<option value="8">最終面接日程調整中</option>
				<option value="9">一次面接日程調整完了</option>
				<option value="10">二次面接日程調整完了</option>
				<option value="11">最終面接日程調整完了</option>
				<option value="12">選考辞退</option>
				<option value="13">内定</option>
				<option value="14">入社待ち</option>
			</select>
		</p>

		<p th:errors="*{name}" class="error-message"></p>
		<p>
			<label for="name">企業名：</label>
			<input type="text" id="name" th:field="*{name}">
		</p>

		<p th:errors="*{established}" class="error-message"></p>
		<p>
			<label for="established">創立年：</label>
			<input type="date" id="established" th:field="*{established}">
		</p>

		<p th:errors="*{president}" class="error-message"></p>
		<p>
			<label for="president">社長：</label>
			<input type="text" id="president" th:field="*{president}">
		</p>

		<p th:errors="*{detail}" class="error-message"></p>
		<p>
			<label for="detail">詳細説明メモ：</label>
			<input type="text" id="detail" th:field="*{detail}">
		</p>

		<p th:errors="*{salaly}" class="error-message"></p>
		<p>
			<label for="salaly">給料：(月給)</label>
			<input type="number" id="salaly" th:field="*{salaly}">
		</p>

		<p th:errors="*{workingTime}" class="error-message"></p>
		<p>
			<label for="workingTime">労働時間(開始)：</label>
			<input type="time" id="workingTime" th:field="*{workingTime}">
		</p>

		<p th:errors="*{workingTime2}" class="error-message"></p>
		<p>
			<label for="workingTime2">労働時間(終了)：</label>
			<input type="time" id="workingTime2" th:field="*{workingTime2}">
		</p>

		<p th:errors="*{applied}" class="error-message"></p>
		<p>
			<label for="applied">どこから応募：</label>
			<input type="text" id="applied" th:field="*{applied}">
		</p>

		<p th:errors="*{url}" class="error-message"></p>
		<p>
			<label for="url">会社ホームページURL：</label>
			<input type="text" id="url" th:field="*{url}">
		</p>

		<input type="submit" value="追加">
	</form>
		
		<footer>
		<p><a href="/top">トップページ</a></p>
		</footer>
	
</body>
</html>