<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/style.css">

<head>
	<meta charset="UTF-8">
	<title>Todoリスト</title>
</head>

<body>
	<h1>TODOリスト</h1>
	<form action="" method="post">
		<!--		<p th:errors="${taskname}" class="error-message"></p>-->
		<p>ToDo:
			<input type="text" th:field="${todo.taskname}" />
			<button type="submit">追加</button>
		</p>
	</form>
	<h2>未実行タスク</h2>
	<ul>
		<th:block th:each="list : ${todoList}">
			<li>
				<span th:text="${list.taskname}"></span><span>削除</span>
			</li>
		</th:block>
	</ul>
	<br><br><br>
	<h2>実行済タスク</h2>
	<ul>
		<th:block th:each="list : ${todoList}">
			<li>
				<span th:text="${list.taskname}"></span><span>削除</span>
			</li>
		</th:block>
	</ul>
	<!--		javascかcssで消せるならそれぞれの実行済み、未実行を消せるロジックを作る-->
	<p>
		<a th:href="deleteTodo">Todoを削除</a>
	</p>
	<a href="/top">トップページ</a>

</body>

</html>