<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css">

<head>
    <meta charset="UTF-8">
    <title>追加完了</title>
</head>

<body>
    <div class="container">
        <h1>追加しました。</h1>
        <div class="message">
            <p>追加処理が完了いたしました。</p>
        </div>
        <footer>
            <a href="/top" class="button">トップページ</a>
            <a href="/appliedCompanyInsert" class="button secondary">続けて追加</a>
        </footer>
    </div>
</body>

</html>