<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Todoリスト</title>
</head>

<body>
	<h1>TODOリスト</h1>
	<form action="@{/todoList}" method="post">
		<!--		<p th:errors="${taskname}" class="error-message"></p>-->
		<p>ToDo:
			<input type="text" th:field="${todo.taskname}" />
			<button type="submit">追加</button>
		</p>
	</form>
	<ul>
		<th:block th:each="todo : ${todos}">
			<!-- id パラメータを URL に付与 -->
			<li>
				<span th:text="${todo.taskname}"></span>
			</li>
		</th:block>
	</ul>
	<a href="/top">トップページ</a>
</body>

</html>