<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Todoリスト</title>
</head>

<body>
	<h1>TODOリスト</h1>
	<form action="@{/todoList}" th:object="${todo}" method="post">
		<!--		<p th:errors="${taskname}" class="error-message"></p>-->
		<label for="taskname">ToDo:</label>
		<input type="text" id="taskname" th:field="*{taskname}" />
		<button type="submit">追加</button>
	</form>
	<th:block th:each="todo : ${todos}">
		<!-- id パラメータを URL に付与 -->
		<a th:href="@{/todoList(id=${todo.id})}">
			<ul>
				<p th:text="${todo.taskname}"></p>
			</ul>
		</a>
	</th:block>

</body>

</html>