<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TODOリスト</title>
	<link rel="stylesheet" href="/css/tuika2.css">
</head>

<body>
	<h1>TODOリスト</h1>

	<!-- タスク追加フォーム -->
	<div class="container">
		<form th:action="@{/addTodo}" method="post">
			<p>Todo:
				<input type="text" name="taskname" placeholder="タスク名を入力" />
				<button type="submit">追加</button>
			</p>
		</form>
	</div>

	<!-- 未実行タスク -->
	
	<h2>未実行タスク</h2>
	<ul>
		<th:block th:each="todo : ${pendingTasks}">
			<li>
				<!-- タスク名 -->
				<span th:text="${todo.taskname}"></span>
				<!-- 実行済みにするボタン -->
				<div　class="button2">
					<form th:action="@{/updateTodo/{id}(id=${todo.id})}" method="post" style="display:inline;">
						<button type="submit">実行済みにする</button>
					</form>
				</div>
				<!-- 削除リンク -->
				<a th:href="@{/deleteTodo/{id}(id=${todo.id})}" style="float: right; color: red;">削除</a>
			</li>
		<h4 th:text="'⇧追加日時： ' + ${todo.createdAt}"></h4>
		</th:block>
	</ul>

	<!-- 実行済みタスク -->
	<h2>実行済みタスク</h2>
	<ul>
		<th:block th:each="todo : ${completedTasks}">
			<!--			completedTasksをControllerで作る-->
			<li>
				<!-- タスク名 -->
				<span th:text="${todo.taskname}"></span>
				<!-- 削除リンク -->
				<a th:href="@{/deleteTodo/{id}(id=${todo.id})}" style="float: right; color: red;">削除</a>
			</li>
		</th:block>
	</ul>

	<!-- トップページへのリンク -->
	<footer>
	<p style="text-align: center;">
		<a href="/top">トップページ</a>
	</p>
	</footer>
</body>

</html>